@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,600);

body {
    background-image: url('../img/paper.png');
    background-size: 900px;
    font-family: 'Josefin Sans';
    font-weight: 400;
    text-align:center;
}

.container {
    text-align:center;
    margin-top: -290px;
    margin-left: 150px;
}

.cell {
    display: inline-block;
    text-align: center;
    margin: 1em;
}

.stamp-label {
    font-size: 14pt;
    margin-top: 0.2em;
}

#header {
    align-content:center;
    background-image: url('../img/blank_banner.png');
    width:1200px;
    height:657px;
    text-align: center;
    background-repeat: no-repeat;

}

#sub-header {
    margin-top: -50px;
    text-shadow: 0px 2px 3px #fff;
}


.text {
    font-family: Helvetica;
    font-size:10pt;
    text-align: left;
    margin-top: -50px;
    margin-left: 120px;
    margin-bottom: 20px;
    padding:50px;
    width: 600px;
    background-color: #fff;
    border-image: url(../img/border_whitefill.png);
    border-image-width: 20;
    border-image-slice: 45;
    border-image-repeat: stretch;
    background-clip:content-box;
}

.text h3 {
    font-family: 'Josefin Sans';
}

.name {
    font-weight: bold;
}

ul.people {
    list-style: none;
    margin-top: 1em;
}

ul.people li {
    margin-bottom: 2em;
    clear: both;
    height: 150px;
}

/*
ul.people li:nth-child(odd) .personpic img { float: left; }
ul.people li:nth-child(even) .personpic img { float: right; }
*/
.personpic img {
    float: left;
    padding-right: 0.5em;
    width: 150px;

    border-right: solid thin;
    margin-right: 0.5em;
}
h1 {
    font-size:32pt;
    font-weight: 600;
}
h3 {
    font-weight: 600;
}
