<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>

    {% block head %}
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}"></link>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    {% endblock %}
</head>
<body>
<div id = "header" class="row" style="background-image: url('{{header_file}}')">
</div>

<div class="container">
    <div class="row">
        <div class="text">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

<div id="footer" class="row">
</div>

{% block extra_script %}{% endblock %}
</html>