{% extends "base.html" %}
{% block title %}RSVP{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

{% if form.errors %}
    Sorry, there was a problem with your RSVP, please fix the following errors:
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}

<form method="POST" class="form-horizontal">
    {{ form.csrf_token}}
    <div class="control-group">
        {{ form.name.label(class_="control-label") }} 
        <div class="controls">{{ form.name }}</div>
    </div>

    <div class="control-group">
        {{ form.email.label(class_="control-label") }} 
        <div class="controls">{{ form.email }}</div>
    </div>

    <div class="control-group">
        {{ form.attending.label(class_="control-label") }} 
        <div class="controls">{{ form.attending }}</div>
    </div>

    <div id="guests-field">
        <div class="control-group">
            {{ form.guests.label(class_="control-label") }} 
            <div class="controls">{{ form.guests(min=0, max=10) }}</div>
        </div>

        <div class="control-group">
            {{ form.guest_names.label(class_="control-label") }} 
            <div class="controls">{{ form.guest_names }}</div>
        </div>
    </div>

    <div class="control-group">
        {{ form.note.label(class_="control-label") }} 
        <div class="controls">{{ form.note }}</div>
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="submit">
        </div>
    </div>
</form>


{% endblock %}

{% block extra_script %}
<script>
    function show_hide_guests() {
        if(this.checked) {
            $('#guests-field').css('display', 'block')
        } else {
            $('#guests-field').css('display', 'none')
        }
    }
    $('#attending').change(show_hide_guests);

    $(document).ready(function() {
        $('#attending').map(show_hide_guests);
    });
</script>
{% endblock %}